body{
  background-color: black;
  color: white;
  font-family: "Rowdies";
}
.nav-custom {
  background-image: url("./gray-banner.jpg");
  background-size: cover;
  height: 200px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
  /* Workaround for some mobile browsers */
  min-height: 100%;
}

.nav-link{
  color: white;
  font-size: 20px;
}

.nav-link:hover{
  -webkit-text-stroke: 2px black; /* width and color */
  color: white;
}

.navbar-toggler-icon{
  color: white!important;
  background-color: white;
}

.format-card{
  margin: 20px;
}

.section-format{
  margin-top: 10px;
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 240px);
}

.about-img{
  width: 200px;
  height: 200px;
  border-radius: 75%;
}

footer {
 /* position: absolute;
  bottom: 0; */
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

footer ul{
  list-style: none;
  margin: 0 2px;
  padding: 5px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.footer-li{
  padding: 20px;
}

.card:hover{
  opacity: .5;
}

/* relevant styles */


.img__wrap {
  position: relative;
  height: 300px;
  width: 600px;
  margin: 10px;
  
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gray;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  margin: 0 !important;
  padding: 0!important;
  border: 0!important;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: .8;
}

.fa-brands{
  color: white;
}

.fa-brands:hover{
  -webkit-text-stroke: 2px black; /* width and color */
  color: white;
}




